body{
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    user-select: none;
    margin: 0px;
    background-color: rgb(27 29 30);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;




}
p{
    margin: 0px;
   
}
span{
    font-size: 13px;
}
#menssage{
    padding: 5px;
    background-color: #3b474b;
    color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -20em;
}
input{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    width: auto;
}
button, input{
    color: aliceblue;
    background-color: rgb(38, 42, 43);
    width: 15em;
    height: 4em;
    margin: 5px;
    padding: 8px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    border-radius: 30px;
}

button:hover{
    width: 16em;
}
img{
    margin: 20px;
    width: 25%;
    top: 10em;
}