body{
    font-family: 'Raleway', sans-serif;
    user-select: none;
    margin: 0px;
    background-color: #0b0d0f;
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body:focus{
outline: none;
}
*:focus{
    outline: none !important;
   background-color: transparent !important;
}

.header{
z-index: 1;
color: aliceblue;
position: fixed;
top: 0px;
width: 100%;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(38, 43, 44);
padding: 5px;
}
.fileMsg{
    opacity: 0.8;
    padding: 10px;
    background-color: #4b4b4b;
    cursor: pointer;
    opacity: 0.8;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-inline: 15px;
 

}
.deleteImageFile{
    border-radius: 50%;
    color: red;
    background-color: #243036;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
    margin-top: 3px;
    text-align: center;
    position: relative;
    padding: 15px;
    border: none;
}
.deleteImageFile:hover {

background-color: #2b383f;
}
.list_users{
    width: 100%;
    height: auto;
    max-height: 70vh;
    margin: 0px;
    overflow-y: auto;

    
}
#list_users  li{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
#list_users{
    display: none;
}
#list_myContact li{
    max-height: 50vh;
}
#nicks{
    display: flex;
    align-items: center;
    margin: 2px;
}
#list_myContact li{
margin-bottom: 2px;
}
#list_users li{opacity: 0.9;
    display: flex;
    justify-content: center;
    margin: 10px;

}
.division{
    text-align: left;
    height: 1px;
    background-color: #617075;
    width: 100%;
    
    margin-block:5px ;
}
.add{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
border-radius: 50%;
margin-right: 10px;
    height: 30px;
    font-size: x-large;
    font-weight: bold;
}
.userContactImgProfile{
    width: 20px;
    margin-right: 5px;
    border-radius: 50%;
}
.add:hover{
    font-size: 35px;
    background-color: #4c595e;
}
.favorite{
margin-right: 20px;
    width: 15px;
    height: 15px;
    
}
#searchUsers{
    padding: 10px;
    width: 80%;
    outline: 0;
    border: none;
border-bottom: 1px solid grey;
    background-color: transparent;
    color: rgb(223, 223, 223);
    display: none;

}

.userContact{
    display: flex;
   flex-direction: column;
    width: 100%;
    background-color: #243036;
    border-radius: 4px;
    padding: 8px;
    padding-left: 10px;
    font-size: 13px;

}
.userContact:hover{
    background-color: #2c3b42;
    cursor: pointer;
}
#menuContactMenssages{
  
    color: rgb(247, 250, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background-color: #0f1112;
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0px;
    left: -100px;
  
}
#close{
    color: aliceblue;
    font-weight: bolder;
    margin: 2px;
    padding: 5px;
    padding-inline: 8px;
    position: absolute;
    right: 0px;
    background-color: transparent;
    border: none;
}




#avatar{
    display: none;
  
    border: 1px solid;
    width: 32px;
    height: 30px;
    border-radius: 50%;
}



#option{
    
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 5em;
    height: 2em;
    position: absolute;
    right: 0;
    top: 2em;
    transform: scale(1.2);
    transition-duration: 0.8s;
}
#avatar img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}
h2{
    margin: 0px;
}
.deleteMensseger{
    display: none;
    padding: 50px;
    position: absolute;
    right: 2px;
    bottom: 10px;
    background-color: aqua;
}
.area_Menssage{
    background-color:transparent;
    width: 95%;
    height: 92vh;
    overflow-y: auto;
}

@media only screen and (max-width: 800px) {
    
    .area_Menssage{
    height: 85vh;
    }
    
    .userContact{
        font-size: 10px;
    }


  }
.group_msgt{
 padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
   position: fixed;
   bottom: 0px;
    align-items: center;
justify-content: center;
background-color: transparent;
margin-top: 2px;

}
.group_msgt div{
    box-shadow: 1px 10px 60px 0px rgba(0,0,0);
-webkit-box-shadow: 1px 10px 60px 0px rgba(0,0,0);
-moz-box-shadow: 1px 10px 60px 0px rgba(0,0,0);
display: flex;
   
    background-color: #1f2324;

width: 92%;
height: auto;
    border-radius: 15px;
    color: hsl(0, 0%, 83%);
  
}
ul{
    
    margin-top: 5em;
    padding: 0px;

    
}
#list_ul li{
display: flex;
align-items: center;
}
 #imgProfileMenssage{
    width: 25px;
    border-radius: 50%;
    height: 25px;
}

.msg{
    font-family: 'Nunito', sans-serif;
    color: rgb(223, 223, 223);
    font-size: 13px;
    margin: 4px;
    margin-right: 15px;
    width: auto;
    word-break: break-all;
}
#nickname_ball_msg{

    margin-right: 5px;
    font-size: 10px;
    color: rgb(193, 238, 238);
      
}


#hour{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    position: relative;
    top: 10px;
}
.ball_msg{
    
    padding: 2px;
    display: flex;
    flex-direction: column;
    background-color: #192227;
    color: aliceblue;
    padding: 8px;
    border-radius:16px;
    margin: 5px;

    width: fit-content;
 

  }
  


#box_Msg{
    outline: 0;
    background-color: transparent;
    width: 100%;
    padding: 1.2em;
    border: none;
    color: hsl(0, 0%, 83%);
}
.infoContacts{

    display: flex;
height: 100%;
    align-items: center;
    width:26%;
    position: absolute;
    left: 0px;
}

.infoContacts div{
    padding-inline: 4px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    background-color: #2d3334;
    margin-inline: 4px;
    cursor: pointer;
    
}
.infoContacts div:hover{
    background-color: #363c3d;
}
 .imgAvatarSelected{
 width: 20px;

    border-radius: 50%;
 }
 #nameAvatarSelected{
   
    font-size: 12px;
    margin: 5px; 
    margin-inline: 4px;
 }

.info{
   
    display: flex;
    justify-content: space-between;

}
.info_details{

    display: flex;
    justify-content: space-between;
}
#delete{
    border: none;
    padding: 1px;
    font-size: 10px;
    color: rgb(92, 92, 92);
    background-color:transparent;
}
input[type='file'] {
    display: none
  }

 label{
    cursor: pointer;
    opacity: 0.8;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
align-items: center;
    font-size: 18px;
    
    padding-inline: 15px;
    background-color: #292d2d;
 }
 #labelFile{
    opacity: 0.8;
    padding: 16px;
    background-color: #4b4b4b;
  }
  #labelFile:hover{
    background-color: #4d4e4e;
  }
#btn{
   
    color: rgb(153, 153, 153);
    cursor: pointer;
    border: none;
    width: 5em;
    display: flex;
justify-content: center;
align-items: center;
font-family:cursive;
    background-color: transparent;
border-radius: 0px  15px 15px 0px ;

}
#btn:hover{
 background-color: rgb(74, 77, 78);
 
   transition: 0.4s;

}
#imgMsg{
    max-width: 100%;
    cursor: pointer;
}
#imagePreview{
    -webkit-box-shadow:none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 13em;
    height: 13em;
    background-color: transparent;
    
    
    top: -2em;
}
#imgMsg:hover {

 
    transform: scale(1.01);
  }
#btn img{

    width: 70%;
    height: 90%;
 
}
.msgt ,#btn{
    padding: 10px;
}
::-webkit-scrollbar {
    width: 5px;
   
}


#login , #contact{
    font-weight: bold;
  
    padding: 10px;
    cursor: pointer;
}
#login{
 display: flex;
 justify-content: center;
 align-items: center;
    padding: 0px;
}
#login {
    margin-right: 5px;  
}
.login {
    display: flex;
justify-content: center;

    position: absolute;
margin-right: 10px;
    right: 0px;
}

.login button {
    background-color: #454e51;
    border: none;

    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
#logout, #codeCode{
    background-color:#7d8b8d;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
color: rgb(0, 0, 0);font-weight: bold;
    cursor: pointer;
border: none;
width: 100%;
    display: none;
}
#logout:hover{
background-color: rgb(160, 160, 160);
}
#contact{
    
    font-size: 10px;
    border: none;
    margin-left: 5px;
    height: 100%;
    background-color: transparent;
    color: rgb(167, 165, 165);
   
}
#contact:hover{
    background-color: #32383ab6;
}
.divMainContacts{
    
    display: flex;
justify-content: space-between;
align-items: center;
    width: 100%;
}

@media only screen and (max-width: 600px) {
  #imgProfileMenssage{
        width: 25px;
        border-radius: 50%;
        height: 25px;
    }

    .infoContacts div{
        padding-inline: 2px;
        display: flex;
        border-radius: 5px;
        align-items: center;
        background-color: #2d3334;

        margin-inline: 2px;
     
        
    }
    .infoContacts div:hover{
        background-color: #363c3d;
    }
     .imgAvatarSelected{
     width: 10;
    
        border-radius: 50%;
     }
     #nameAvatarSelected{
       
        font-size: 10px;
        margin: 5px; 
        margin-inline: 2px;
     }
}