body{
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    user-select: none;
    margin: 0px;
    background-color: rgb(15, 16, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


header{
z-index: 1;
color: aliceblue;
position: fixed;
top: 0px;
width: 100%;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(38, 43, 44);
padding: 5px;
}
#avatar{
    display: none;
  
    border: 1px solid;
    width: 32px;
    height: 30px;
    border-radius: 50%;
}

#option{
    
    display: none;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 2em;
    background-color: grey;
    position: absolute;
    right: 0;
    top: 2em;
    transform: scale(1.2);
    transition-duration: 0.8s;
}
#avatar img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}
h2{
    margin: 0px;
}
.deleteMensseger{
    display: none;
    padding: 50px;
    position: absolute;
    right: 2px;
    bottom: 10px;
    background-color: aqua;
}
.area_Menssage{
    background-color:transparent;
    width: 95%;
    height: 90vh;
    overflow-y: auto;
}
.group_msgt{
    margin: 5px;
    width: 100%;
    display: flex;
   position: fixed;
   bottom: 0px;
    align-items: center;
justify-content: center;
}
.group_msgt div{
display: flex;
    margin-right: 5px;
    border: 1px solid rgb(155, 155, 155);
    background-color: grey;
width: 92%;
height: auto;
    border-radius: 7px;
    color: hsl(0, 0%, 83%);
  
}
ul{
    margin-top: 5em;
    padding: 0px;

    
}
.msg{
    font-family: 'Inter', sans-serif;
font-family: 'Raleway', sans-serif;
    color: #d3d3d3;
    margin: 4px;
    margin-right: 15px;
    width: auto;
    word-break: break-all;
}
.nickname_ball_msg{
    margin-right: 5px;
    width: 20%;
    font-weight: bold;
}


#hour{

    font-size: 12px;
    position: relative;
    top: 10px;
}
.ball_msg{
    
    padding: 2px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: aliceblue;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 0px 7px 7px 7px;
    margin: 5px;

    width: fit-content;
 

  }


#box_Msg{
    outline: 0;
    background-color: transparent;
    width: 100%;
    padding: 1.2em;
    border: none;
    color: hsl(0, 0%, 83%);
}
.info{
   
    display: flex;
    justify-content: space-between;

}
.info_details{

    display: flex;
    justify-content: space-between;
}
#delete{
    border: none;
    padding: 1px;
    
    color: rgb(31, 31, 31);
    background-color:transparent;
}
#btn{
    color: aliceblue;
    cursor: pointer;
    border: none;
    width: 5em;
    border-left: 1px grey solid;
    background-color: transparent;

}
#btn:hover{
 background-color: rgb(36, 38, 41);;;
   transition: 0.4s;
}
.msgt ,#btn{
    padding: 10px;
}
::-webkit-scrollbar {
    width: 5px;
   
}


#login{
    font-weight: bold;
    color: #000000;
    padding: 10px;
    cursor: pointer;
}

.login{
    display: flex;
justify-content: center;

    position: absolute;
margin-right: 10px;
    right: 0px;
}
.login button{
    border: none;
  padding: 2px;
  font-size: 10px;
}
#logout{
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
color: rgb(0, 0, 0);font-weight: bold;
    cursor: pointer;
border: none;
width: 100%;
    display: none;
}
#logout:hover{
background-color: rgb(160, 160, 160);
}
